 body {
  background: url(cat.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
}
h1 {
	color: white;
	font-size: 50px
	font-weight: normal;
	margin-bottom: 0;
}
h2 {
	color: white;
	font-size: 16px
	margin-top: 0;
}
.bio {
	color: black;
	font-size: 14px;
	font-weight: bold;
}
.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;

}
.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.grey {
	color: #0099ff;
	height: 3px;
}
